.Wdate{
	border:#999 1px solid #669FD2;
	background:#fff url(datePicker.gif) no-repeat right;
	background-color:#F8FBFF;
	color:#5E809E;
	font-size:9pt;
    margin-left:2px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}